<table width="100%" cellspacing="0" cellpadding="0" style="border-collapse:collapse;  background-image: url('footer_banner_background.png'); background-repeat: no-repeat; background-size: auto;">
	<tbody>
		<tr><td height="22px"></td><td></td><td></td><td></td></tr>
		<tr>
			<td width="20px"></td>
			<td align="center" width="156px">
				<a href="https://bananacar.lt/"  @@include('../../attributes/a.html')>
					<img src="footer_banner_logo.png" alt="" width="156px" height="40px">
				</a>
			</td>
			<td width="20px"></td>
			<td align="center">
				<a href="https://www.facebook.com/bananacarLT/"  @@include('../../attributes/a.html')>
					<img src="icon_facebook.png" alt="" width="52px" height="52px">
				</a>
				<a href="https://www.instagram.com/bananacar.lt/"  @@include('../../attributes/a.html')>
					<img src="icon_instagram.png" alt="" width="52px" height="52px">
				</a>
				<a href="https://www.youtube.com/channel/UCIPUXQ_ElKz2wnROssuxIcA"  @@include('../../attributes/a.html')>
					<img src="icon_youtube.png" alt="" width="52px" height="52px">
				</a>
			</td>
			<td width="20px"></td>
		</tr>
		<tr><td height="22px"></td><td></td><td></td><td></td></tr>
	</tbody>
</table>