<table width="100%" cellspacing="0" cellpadding="0" style="border-collapse:collapse;">
	<tbody>
	<tr><td height="11px"></td><td></td><td></td><td></td><td></td></tr>
	<tr>
		<td width="20px"></td>
		<td align="left" style="font-family: 'Open Sans'; font-size: 10px; color:#606060;">
				UAB "Eurospektras", Laisves pr. 88, LT-06125 Vilnius, Lietuva
		</td>
		<td width="20px"></td>
		<td align="right" style="font-family: 'Open Sans'; font-size: 10px; color:#606060;">
				Atsisakyti naujienlaiškių
		</td>
		<td width="20px"></td>
	</tr>
	<tr><td height="11px"></td><td></td><td></td><td></td><td></td></tr>
	</tbody>
</table>