<table  width="100%" cellspacing="0" cellpadding="0" style="border-collapse:collapse; background-image: url('section_1_background_road.png'), url('section_1_background_shadow.png'); background-position: top right, top right; background-repeat: no-repeat, repeat-x;background-size: 120px 168px, 100% 27px;">
	<tbody>
	<tr>
		<td>
			<table  width="100%" cellspacing="0" cellpadding="0" style="border-collapse:collapse;">
				<tbody>
				<tr><td height=56px></td></tr>
				<tr>
					<td width="42px"></td>
					<td align="left" style="font-family: 'Open Sans'; font-size: 26px; color:#6ab344;">
						<b>Festivalių fiesta tęsiasi kartu su Bananacar.lt!</b>
					</td>
					<td width="126px"></td>
				</tr>
				</tbody>
			</table>
			<table  width="100%" cellspacing="0" cellpadding="0" style="border-collapse:collapse;">
				<tbody>
				<tr><td height=36px></td><td></td><td></td></tr>
				<tr>
					<td width="42px"></td>
						<td align="left" style="font-family: 'Open Sans'; font-size: 20px; color:#6ab344;">
						Planavai šį savaitgalį likti namie? Geriau pramogauk! Štai festivaliai į kuriuos gali dar nuvykti šią vasarą. Ieškok kelionių per bananacar.lt.
					</td>
					<td width="76px"></td>
				</tr>
				</tbody>
			</table>
		</td>
	</tr>
	</tbody>
</table>