<table  width="100%" cellspacing="0" cellpadding="0" style="border-collapse:collapse; background-image: url('section_4_background_logo.png'); background-position: bottom left; background-repeat: no-repeat; background-size: 600px 284px;">
	<tbody>
	<tr><td height="16px"></td><td></td><td></td></tr>
	<tr>
		<td width="260px"></td>
		<td style="font-family: 'Open Sans'; color:#424242;font-size:20px">
			<b>Purpurinis vakaras</b>
		</td>
		<td width="30px"></td>
	</tr>
	<tr>
		<td width="260px"></td>
		<td style="font-family: 'Open Sans'; color:#7f7f7f; font-size:16px;">
			(Rugpjūčio 17-19)
		</td>
		<td width="30px"></td>
	</tr>
	<tr><td height="22px"></td><td></td><td></td></tr>
	<tr>
		<td width="260px"></td>
		<td style="font-family: 'Open Sans'; color: #424242; font-size:16px;">
			Dainuojamosios poezijos mėgėjų festivalis. Festivalyje bus galima išgirsti naujų ir talentingų atlikėjų bei bardų žanro klasikų. Koncerto programa praturtinta spektakliais, parodomis, poezijos skaitymais, susitikimais su meninkais.
		</td>
		<td width="30px"></td>
	</tr>
	<tr><td height="40px"></td><td></td><td></td></tr>
	</tr>
	</tbody>
</table>