<table width="100%" cellspacing="0" cellpadding="0" style="border-collapse:collapse;">
	<tbody>
	<tr>
		<td align="center">
			<a href="https://bananacar.lt/lt/ride/find"   @@include('../../attributes/a.html')>
				<img src="btn_find_trip.png" alt="" width="210px" height="85px">
			</a>
			<a href="https://bananacar.lt/lt?auth=1&redirect_url=https%3A%2F%2Fbananacar.lt%2Flt%2Fride%2Fadd"  @@include('../../attributes/a.html')>
				<img src="btn_add_trip.png" alt="" width="210px" height="85px">
			</a>
		</td>
	</tr>
	</tbody>
</table>