<table  width="100%" cellspacing="0" cellpadding="0" style="border-collapse:collapse; background-image: url('section_3_background_logo.png'); background-position: bottom right; background-repeat: no-repeat; background-size: 600px 284px;">
		<tbody>
		<tr><td height="16px"></td><td></td><td></td></tr>
		<tr>
			<td width="30px"></td>
			<td style="font-family: 'Open Sans'; color:#424242;font-size:20px">
				<b>Visagino country festival</b>
			</td>
			<td width="260px"></td>
		</tr>
		<tr>
			<td width="30px"></td>
			<td style="font-family: 'Open Sans'; color:#7f7f7f; font-size:16px;">
				(Rugpjūčio 18-19)
			</td>
			<td width="260px"></td>
		</tr>
		<tr><td height="22px"></td><td></td><td></td></tr>
		<tr>
			<td width="30px"></td>
			<td style="font-family: 'Open Sans'; color: #424242; font-size:16px;">
				Kantri muzikos gerbėjams skirtas festivalis. Dvi dienas ir naktis mėgausitės atomine muzika, draugiška atmosfera, įvairiomis atrakcijomis, nuostabia gamta ir ežero gaiva, čia būtinai susitiksite seniai matytą bičiulį kaip sako „kantri tėvas“ Virgis Stakėnas.
			</td>
			<td width="260px"></td>
		</tr>
		<tr><td height="40px"></td><td></td><td></td></tr>
		</tr>
		</tbody>
	</table>